:root {
  --main-orange: orange;
  --main-dark: #343a40;
  --main-teal: teal;
  --main-white: whitesmoke;
  --main-blue: aliceblue;
}

* {
  margin: 0;
  padding: 0;
  /* color: var(--main-white); */
}

.navbar {
  background: var(--main-dark);
}

.navbar img {
  background-color: inherit;
  width: 5rem;
  height: 3rem;
}

.navbar a {
  color: var(--main-blue);
  font-weight: bold;
}

.navbar a:hover {
  color: var(--main-orange);
}

.title {
  color: var(--main-orange);
  font-weight: bold;
}

.single-cocktail {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  padding: 0 1rem;
}

.single-cocktail img {
  width: 25rem;
  margin-right: 1rem;
}

.single-cocktail .preparation {
  margin-left: 1rem;
}