:root {
  --main-orange: orange;
  --main-dark: #343a40;
  --main-teal: teal;
  --main-white: whitesmoke;
  --main-blue: aliceblue;
}

* {
  margin: 0;
  padding: 0;
  /* color: var(--main-white); */
}

.navbar {
  background: var(--main-dark);
}

.navbar img {
  background-color: inherit;
  width: 5rem;
  height: 3rem;
}

.navbar a {
  color: var(--main-blue);
  font-weight: bold;
}

.navbar a:hover {
  color: var(--main-orange);
}

.title {
  color: var(--main-orange);
  font-weight: bold;
}

.single-cocktail {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 2fr 3fr 3fr;
  padding: 0 1rem;
}

.single-cocktail img {
  width: 25rem;
  margin-right: 1rem;
}

.summary ul {  
  padding-left: 2rem;
}

.preparation ul {
  list-style: decimal;
  padding-left: 2rem;
}

/* Para 800px */  
@media only screen and (max-width: 820px) {  
  .single-cocktail {
    grid-template-columns: 1fr;
  }
}  